@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d3bbbb;
  --foreground: #320b0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffdbfa;
    --foreground: #712e2e;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(#fcb6d9, #bc0061);
  /*background: var(--background);*/
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background: linear-gradient(#c70167, #a10139);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
